<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BoilerPHP React - Scalabale Web Apllication Framework for PHP & React Developer</title>
    <script defer src="../../public/js/main.afcfddc6b46213b41bb1.js"></script><link href="../../public/css/main.afcfddc6b46213b41bb1.css" rel="stylesheet"></head>
    <body>
        <div id="app"></div>
    </body>
</html>