<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-layout-style="detached" data-sidebar="light" data-topbar="dark" data-sidebar-size="lg" data-layout-mode="light" data-layout-width="fluid" data-layout-position="fixed">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Manager - Wearslot | E-Commerce Tools for Quality Fashion Businesses and SMEs</title>

    <link rel="shortcut icon" href="@{{ load_static('assets/images/favicon.ico') }}">

    <!-- jsvectormap css -->
    <link href="@{{ load_static('assets/libs/jsvectormap/css/jsvectormap.min.css') }}" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="@{{ load_static('assets/libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="@{{ load_static('assets/js/layout.js') }}"></script>

    <!-- Bootstrap Css -->
    <link href="@{{ load_static('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="@{{ load_static('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="@{{ load_static('assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="@{{ load_static('assets/css/custom.min.css') }}" rel="stylesheet" type="text/css" />
    
    <script defer src="@{{ load_static('app/js/app.js') }}"></script>
    <link href="@{{ load_static('app/css/main.css') }}" rel="stylesheet">
</head>

<body>
    <div id="app"></div>

    <!-- JAVASCRIPT -->
    <script src="@{{ load_static('assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="@{{ load_static('assets/libs/simplebar/simplebar.min.js') }}"></script>
    <script src="@{{ load_static('assets/libs/node-waves/waves.min.js') }}"></script>
    <script src="@{{ load_static('assets/libs/feather-icons/feather.min.js') }}"></script>
    <script src="@{{ load_static('assets/js/plugins.js') }}"></script>

    <!-- apexcharts -->
    <!-- <script src="@{{ load_static('assets/libs/apexcharts/apexcharts.min.js') }}"></script> -->

    <!-- Vector map-->
    <script src="@{{ load_static('assets/libs/jsvectormap/js/jsvectormap.min.js') }}"></script>
    <script src="@{{ load_static('assets/libs/jsvectormap/maps/world-merc.js') }}"></script>

    <!--Swiper slider js-->
    <script src="@{{ load_static('assets/libs/swiper/swiper-bundle.min.js') }}"></script>

</body>
</html>